/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}

/*
  Start of stylesheet
*/

body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
}

/***************************
        Main Header
****************************/
.google-header {
  border: 1px solid #456f9a;
  border-bottom: 1px solid rgb(112, 112, 112);
  color: #FFF;
  font-size: .9em;
  font-weight: bold;
  text-shadow: 0 -1px  1px  #254f7a;
  background: #5e87b0;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #81a8ce ), to( #5e87b0 )); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #81a8ce , #5e87b0 ); /* Chrome 10+, Saf5.1+ */
  background-image:         linear-gradient( #81a8ce , #5e87b0 );
  -webkit-user-select: none;
}
.google-header h1 {
  margin: 9px 0 8px;
  text-align: center;
}
.google-header h1 a {
	text-decoration: none;
	color: inherit;
}

.google-header #settings, .google-header #refresh {
    opacity: .2;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1000ms;
}
.google-header #refresh.spin {
    opacity: 1;
}
.google-header:hover #settings, .google-header:hover #refresh{
    opacity: 1;
    -webkit-transition-duration: 500ms;
}
#settings {
    background: url('../images/cog.png');
    width: 16px;
    height: 16px;
    position: absolute;
    /* right: 5px; */
    top: 9px;
    left: 7px;
    cursor: pointer;
}
#refresh {
    background: url('../images/arrow_refresh.png');
    width: 16px;
    height: 16px;
    position: absolute;
    /* right: 5px; */
    top: 9px;
    right: 7px;
    cursor: pointer;
    opacity: .2;
}

/***************************
           Events
****************************/
#events_ul {
  font-size: .9em;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 371px;
  list-style: none;
}

.event  {
  font-size: .85em;
  position: relative;
  width: 100%;
  margin-bottom: 1px;
  border-top: 1px solid #B3B3B3;
}

.day_header {
  border-top: 1px solid rgb(160, 160, 160);
  color: #3E3E3E;
  font-weight: bold;
  font-size: .8em;
  text-shadow: 0 1px 1px #ffffff ;
  padding: .55em 4%;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: 0 !important;
  background: #e9eaeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #f0f0f0 ), to( #e9eaeb )); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #f0f0f0 , #e9eaeb ); /* Chrome 10+, Saf5.1+ */
  background-image:         linear-gradient( #f0f0f0 , #e9eaeb );
}

.day_header:first-child {
  border-top: none;
}

.event-count {
  padding: .55em;
  position: absolute;
  right: 0;
  top: 0;
}

.event-details {
  display: block;
  margin-left: 8px;
  padding: .24em 0 .21em;
  cursor: pointer;
}

.event_color {
  width: 5px;
  height: 100%; /* With location is 30px, without is 20px */
  background: red;
  border-right: 1px solid #222;
  position: absolute;
  left: 0;
  top: 0;
}

.event-title {
  max-width: 63%;
  /*text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;*/
}

.event-time {
  position: absolute;
  right: .25em;
  top: .28em;
}

.event-location {
	font-style: italic;
	font-size: .7em;
  padding-top: .2em;
}

#loader-box {
    top: 406px; 
    height: 100%;
    z-index: 10;
    display: block;
    margin-top: 0;
    border-top: black 1px solid;
}

#loader-box a { color: #5E87B0;}
#loader-box a:hover { color: #E47911;}

#events_ul .notification {
    padding: 4px;
}


/* Scrollbar theming */
::-webkit-scrollbar {
  background: transparent;
  overflow: visible;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.6);
}
::-webkit-scrollbar-thumb:vertical {
  border-width: 4px 4px;
  min-height: 100px;
}
::-webkit-scrollbar-track-piece {
  background-color: #888;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
